/* src/components/PrintLayout-etiket.css */

#print-layout-container {
  display: block; /* به جای flex، از block استفاده می‌کنیم چون هر آیتم در صفحه خودش است */
}

.print-label-instance-wrapper {
  page-break-inside: avoid;
  padding: 0; /* حذف فاصله داخلی */
  box-sizing: border-box;
}

/* حذف خط‌چین دور اتیکت در چاپ نهایی */
.print-label-instance-wrapper .label-render-area {
  outline: none; 
}