/* src/pages/DashboardPage.css */
.dashboard-page-optimized {
  padding: 24px;
  background-color: #f0f2f5;
}

.widget-card {
  height: 100%; /* برای اینکه ارتفاع کارت‌ها در یک ردیف یکسان باشد */
  min-height: 280px;
  border-radius: 12px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
}

.widget-card .ant-card-head {
  border-bottom: 0;
  font-weight: 500;
  color: #595959;
}

.widget-card .ant-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}